<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Notifications Test App</title>
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="<%= @js_sdk_file %>"></script>
    <script type="text/javascript" src="assets/app.js"></script>
    <script type="text/javascript">
      window.sessionConfig = {
        "accessId": "<%= @access_id %>",
        "userId": "<%= session[:user_id] %>",
        "serviceToken": "<%= session[:service_token] %>",
        "apiEndpoint": "<%= @api_endpoint %>",
        "webSocketUrl": "<%= @web_socket_url %>",
      };

      $(document).ready(function () {
        $(".notification-form").on("submit", function (evt) {
          evt.preventDefault();

          $.ajax({
            url: this.action,
            type: this.method
          })
            .done(function () { });
        });
      });
    </script>

    <style type="text/css">
      ul#notifications {
        width: 100%;
        margin: 0;
        padding: 0;
      }

      ul#notifications li {
        background: #CCC;
        list-style: none;
        margin: 0 0 1% 0;
        padding: 1%;
        width: 98%;
      }

      ul#notifications li:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <p>
      <strong>JS-SDK Version:</strong> <%= @js_sdk_version %><br />
      <strong>User-ID:</strong> <%= session[:user_id] %>
    </p>
    <hr />

    <%= yield %>

    <hr />
    <form action="/logout" method="post">
      <button type="submit">Log out</button>
    </form>
  </body>
</html>
